.pied {   /*bandeau footer*/
    background-color: #2b2b2b;
    position: sticky;
    width: 100%;    top: 0;
    left: 0;
    right: 0;
    height: 100px;  
}

.copyr {
    font-family: 'Ubuntu', sans-serif;
    float: right;
    color:#686868 ;
    padding-right: 3%;
    padding-top: 3%;
}

.infos {
    font-family: 'Ubuntu', sans-serif;
    color: #d63146;
    text-align: center;
   padding-top: 3%; 
    display: block;
}