html {
   overflow: scroll;
   overflow-x: hidden;
   width: 100%;
}
body {
    background-color: whitesmoke;
}
body ul li{
	list-style: none;
	padding: 0px;
}

body a{
	text-decoration: none;
}
#corp_page{
	height: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
container-fluid{
	z-index: 1;
}
.container-fluid {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

h2{
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}
/*____________________RIGHT________________________________________*/
#right{
	background-color: #d63146;
	min-height: 800px;
	font-family: 'Nunito Sans', sans-serif;
}

#right h2{
	color: white;
	border-bottom: 0.3px solid white;

}

#site_ressources {
   	overflow-y: scroll;
	overflow-x: hidden;
    border-top: 2px solid #000000;
}

#post_recents , #new_topic{
	overflow-y: hidden;
	overflow-x: hidden;
}

#new_topic{
    border-top: 2px solid #000000;
}

#post_recents, #new_topic, #site_ressources{
	height: 270px;
}

#post_recents p, #new_topic p, #site_ressources a{
	font-size: 15px;
	text-align: center;
	height: 50px;
	border-bottom: 1px solid white;
    display: block;
    margin: auto;
    padding: 10px;
    color: #000000;
}

#post_recents p:hover{
font-size: 15px;
background-color: white;
color: #000000;
border-radius: 8px;
font-weight: bold;
}

#new_topic p:hover{
font-size: 15px;
text-decoration: none;
background-color: white;
color: #000000;
border-radius: 8px;
font-weight: bold;
}

#site_ressources a:hover{
font-size: 20px;
text-decoration: none;
background-color: white;
color: #000000;
border-radius: 8px;
font-weight: bold;
}

/*
_____________________SCROLLBAR________________________________
*/

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
html::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
html::-webkit-scrollbar-thumb
{
}


/*______________________________________________________*/
#site_ressources::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#site_ressources::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#site_ressources::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

#new_topic::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 20px;
	background-color: #F5F5F5;
}

#new_topic::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#new_topic::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

#post_recents::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#post_recents::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#post_recents::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

/*___________END_SCROLLBAR____________________________________*/
.erreur {
	font-size: 15px;
	color: red;
}
.validate {
	font-size: 15px;
	color: green;
}

/*_____________PROFIL_______________*/
#principalProfil{
	width: 100%;
	margin: 0px;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}

#principalProfil #title_news{
	text-align: center;
}

#principalProfil .row{
	height: 100px;
}

#principalProfil .profil{
	width: 75%;
	height: 80%;
	padding: 1%;
	margin-top: 1%;
	background-color: #d63146;
	color: white;
	display: inline-block;
	text-align: left;
	font-size: 18px;
}

#principalProfil span{
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

#principalProfil .Int{
	height: auto;
}

#principalProfil a{
	width: auto;
	padding: 1%;
	margin-bottom: 1%;
	color: #d63146;
	border-radius: 8px;
	border: 1px solid #d63146;
}

#principalProfil a:hover{
	text-decoration: none;
	color: white;
	background: #d63146;
	border: 1px solid #d63146;
}

/*_____________END_PROFIL_______________*/

/*_____________EDIT_PROFIL_______________*/

#principalEditPro{
	width: 100%;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}

#principalEditPro form{
	background-color: #d63146;
	display: inline-block;
	width: 70%; height: auto;
	padding: 2%;
}

#principalEditPro label{
	color: white;
	font-size: 20px;
	text-align: center;
}

#principalEditPro form div{
	padding-bottom: 2%;
	display: block;
}

.Website input, .Interest input{
	width: 50%;
	text-align: center;
	display: inline-block;
}

.Email{
display: inline-block;
}
.btn{
    width:45px ;
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: #d63146;
    border-color: white;
}
.btn:hover{
    color:#d63146;
    background-color: white;
    border-color:white;
}

